.product-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
}

@media (max-width:575px) {
    .product-grid {
        grid-template-columns: 1fr;
    }
}

@media (min-width:576px) and (max-width:767px) {
    .product-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width:768px) and (max-width:991px) {
    .product-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

